body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
}

.chart-container {
  display: inline-block;
  margin-right: 20px;
  vertical-align: top;
  text-align: center; /* Center align text within the container */
}

.chart-sum {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

canvas {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5px;
  max-width: 250px;
  max-height: 400px;
  width: 100%; /* Ensure it scales down properly */
  height: auto; /* Ensure it scales down properly */
}

.chart-canvas {
  max-width: 250px;
  max-height: 250px;
  width: 100%; /* Ensure it scales down properly */
  height: 100%; /* Ensure it scales down properly */
}
